    <div class="card-header">
      <h1>Welcome to your profile page</h1>
    </div>
<div class="profile-page-container">
  <div class="profile-card">
      <%# <%= current_user.email %>

    <h3>Your Walkys</h3>

      <div class="profile-cards-container">
        <% @companions.each do |companion| %>
          <div class="card-profile-companion" >
        <%= link_to companion do %>
            <%# <%= link_to companion_path(companion) %>
            <div class="card-profile-companion-image-container">
              <% if companion.photo.attached? %>
                <%= cl_image_tag companion.photo.key, crop: :fill , class: "card-image-container img" %>
              <% else %>
                <img
                src="https://images.unsplash.com/photo-1556316918-880f9e893822?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
                >
              <% end %>
            </div>
             <% end %>
            <div class="card-profile-companion-content">

              <%# <% companion.bookings.each do |booking| %>
            <%# <% if booking.status == "pending" %>
            <p><%= companion.name %>
              <% companion.bookings.each do |booking| %>
              's walk is <%= booking.status %></p>
              <p><%= booking.date %></p>
              <% end %>

               <%# <p><%= link_to companion.name, companion_path(companion) %>
              <%# 's walk for <%= booking.date %>
              <%# is <%= booking.status</p> %>

              <% companion.bookings.each do |booking| %>
                <% if booking.status == "pending"  %>
                  <%= link_to booking_accept_path(booking) do %>
                    <div class="btn btn-flat">Accept</div>
                    <%# <i class="fa-regular fa-square-check"></i> %>
                    <% end %>
                  <%= link_to booking_decline_path(booking) do %>
                    <div class="btn btn-grey">Decline</div>
                    <%# <i class="fa-solid fa-square-check"></i> %>
                    <% end %>
                  <% end %>
                  <% end %>
            </div>
          </div>
        <% end %>

      </div>
  </div>

<div class="profile-card">
    <h3>Your Bookings</h3>

    <div class="profile-cards-container">
        <% @bookings.each do |booking| %>
          <div class="card-profile-companion">
                  <%= link_to booking.companion do %>
            <div class="card-profile-companion-image-container">
              <% if booking.companion.photo.attached? %>
                <%= cl_image_tag booking.companion.photo.key, crop: :fill , class: "card-image-container img" %>
              <% else %>
                <img
                src="https://images.unsplash.com/photo-1556316918-880f9e893822?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
                >
              <% end %>
            </div>
            <div class="card-profile-companion-content">
            <% if booking.status == "pending" %>
            <p>Your walk with <%= booking.companion.name %>
             is <%= booking.status %></p>
            <% else %>
              <p>Your walk with <%= booking.companion.name %> on
              <%= booking.date %> is <%= booking.status %></p>
              <% end %>
            </div>
        <% end %>
          </div>
      <% end %>
      </div>
  </div>
  </div>
</div>
